/*:root {
--bg-color:black;
---text-color:gold;
}*/

body{
    background-color: black;
    color: white;
    font-family: Montserrat' sans-serif;
    line-height 1.6;
}
.contact-us-section{
    position: relative;
    overflow:hidden;/* prevents blur from spilling out*/
    padding: 40px
    color white ;

}
/*blurred background image*/
.contact-us-section::before {
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(html.png.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* <-- the blur effect */
    z-index: -1; /* move behind the content */
    transform: scale(1.1); /* fixes blur edges */
}

.contact-flex {
    display:flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons a{
    font: size 30px;
    margin: 10px;
    color:goldenrod;
}

.back-btn{
    background-color: black;
    color: gold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition:background-color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
}

.back-btn:active{
    background-color: #333;
}